html { height: 100%; }
html, canvas, img {
  image-rendering: optimizeSpeed;
  image-rendering: optimize-contrast;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
}

body {
  background-color: #2e2e2e;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ddd;
  padding: 15px;
  -webkit-font-smoothing: antialiased;
}

#wrapper {
  display: inline;
  float: left;
  position: relative;
  left: 50%
}

#cells {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.cell {
  background-color: rgba(100%,100%,100%,0.3);
  border-radius: 5px;
  box-sizing: border-box;
  float: left;
  font-family: monospace;
  font-size: 20pt;
  height: 40px;
  margin: 2px;
  padding-top: 10px;
  text-align: center;
  width: 40px;
}

.cell.active {
  background-color: #b5bd68;/**/
}

.cell.error {
  background-color: #cc6666; /* hsla(0,70%,45%,0.7);*/
}


#ui-wrap {
  margin-left: -50%;
  display: inline;
  float: left;
}

#cells {
  background-color: #1d1f21;
  border-radius: 10px;
  border: 5px solid rgba(255,255,255,0.3);
  display: inline;
  float: left;
}

#grid {
  border-radius: 20px;
  border: 10px solid rgba(255,255,255,0.2);
  background-color: #434e48;
  padding: 10px;
  display: inline;
  float: left;
}
#stack-wrap {
  display: inline;
  float: left;
  text-align: center;
  width: 200px;
}
#stack {
  margin: 0;
  padding: 0;
}
#stack li {
  border-radius: 10px;
  border: 2px solid: rgba(255,255,255,0.2);
  color: #2e2e2e;
  font-family: monospace;
  font-size: 15pt;
  list-style: none;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

#stack li.value {
  background-color: #b294bb;
}

#stack li.code {
  background-color: #81a2be;
}
#controls {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}
a.ctrl {
  background-color: #606163;
  border-radius: 10px;
  border: 3px solid rgba(255,255,255,0.3);
  color: hsl(0, 0%, 87%);
  display: block;
  font-family: monospace;
  font-size: 15px;
  margin: 10px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  width: 40px;
}

a.ctrl.active {
  background-color: #b5bd68;
}

a.ctrl:hover {
  background-color: rgba(0,0,0,0.2);
}



